.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.skeleton-container{
    width: 400px;
}
.skeleton-component2{
    background-color:red ;
    height: 200px;
}

