/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */

  .description{
    padding:0px 50px;
    
    .additional-info{
      text-align: left;
    }
  }