.container{
    display: flex;
    flex-direction: column;
}
.flexItem{
    height:20px;
}
 .center-item{
    margin: auto;
    width:900px;
    height:400px;
 }

 .sidebar{
    display:flex;
    flex:.05;
    width:50px;
    background-color: red;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px 10px;
    gap:10px;

 }

 .navbar{
     display: flex;
     flex-direction:row;
     gap: 20px;
     font-size: 20px;
     background-color: orange;
     padding: 10px 20px;

 }

 .content{
    flex-direction: column;
    flex:1;
    display: flex;
    font-size: 20px;
    background-color: blueviolet;
    padding: 10px 20px;
    gap:10px;
    
}

.lower-container{
    display: flex;
    flex-direction:row;
    background-color: pink;
}

.search-bar{
    width:200px;
    height:30px;
}