.container{
    display: flex;
    flex-direction: column;
}
.flexItem{
    height:20px;
}
 .center-item{
    margin: auto;
    width:900px;
    height:400px;
 }

 .navbar{
     display: flex;
     flex-direction:row;
     gap: 20px;
     font-size: 20px;
     background-color:lightseagreen;
     padding: 10px 50px;
 }

 .content{
    flex-direction: column;
    flex:1;
    display: flex;
    flex-wrap:wrap;
    font-size: 20px;
    background-color: lightslategray;
    padding: 10px 90px;
    gap:30px;
    width:100vw;
}

.movie-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    }

.lower-container{
    display: flex;
    flex-direction:row;
    background-color: pink;
}

.search-bar{
    width:250px;
    height:40px;
    font-size: large;
    color: black;
}

.features-container {

    text-align: left;
    white-space: pre-line;
    background-color: rgb(58, 58, 58);
    border-color:  black;
    border-width: 10px;
    padding:10px 20px;
  }